* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: seashell;
    color: black;
    padding: 30px;

    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content min-content max-content;
    grid-auto-rows: 1fr;
    gap: 15px;
    justify-items: center;

    &>button {
        padding: 15px;
        font-size: 1rem;
        font-weight: 800;
        aspect-ratio: 2;
        border-radius: 15px;
        outline: none;
        border: 1px solid rgb(101, 127, 164);
    }

    section {
        border: 2px solid black;
        padding: 15px;
        display: grid;

        grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
        grid-template-rows: repeat(auto-fit, minmax(150px, 200px));
        grid-auto-columns: 150px;
        gap: 15px;

        article {
            display: flex;
            flex-direction: column;
            gap: 0px;

            border: 1px solid darkgreen;

            &>div:first-child {
                padding: 15px;
                padding-bottom: 0px;
                display: flex;
                gap: 0px;
                flex-direction: column;
                justify-content: space-between;
            }

            div:last-child {
                justify-self: flex-end;
                display: flex;
                padding: 15px;
                flex-direction: row;
                gap: 5px;
                align-self: stretch;


                button {
                    border-radius: 7px;
                    padding: 2px;
                    margin: 4px;
                    flex: 1;
                    border: none;
                    outline: none;
                    font-weight: 600;
                    background-color: rgb(205, 221, 225);
                }

            }
        }
    }
}

.unread::after {
    content: "\274C";
    margin-left: .5rem;
}

.read::after {
    content: "\2714";
    margin-left: .5rem;
    color: rgb(3, 206, 3);
}